# OSX
#
.DS_Store

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore

# EDITORS
/.vscode

# Autogenerates when VSCode debugger launches
jsconfig.json

# Coverage directory used by tools like istanbul
coverage

# env
.env*